p{
    border-style:groove;
    border-width: thick;
    border-color: blue;
    margin-bottom:50px;
    padding: 20px;
}
strong{
    border-style:solid;
    border-width: thick;
    border-color:#FF0000;
    text-decoration: line-through;
}